<%= form_for(@expense_transaction) do |f| %>
  
  <div id = "income_transaction">

     <%= f.hidden_field :expense_category_id, :value => expense_category_id, :id => 'expense_category_id'  %>
    <div class="field">
      <%= f.label "#{t 'expense_transactions.description'}" %><br>
      <%= f.text_area :description %><br>
      <%= f.label "#{t 'expense_transactions.date'}" %><br>
      <%= f.text_field :date ,'data-provide' => 'datepicker' ,'data-date-language' => 'bg','data-date-week-start' => 1, 'data-date-days-of-week-highlighted' => '0,6' ,'data-date-format' => 'dd/mm/yyyy', placeholder: 'DD/MM/YY'%><br> 
      <%= f.label "#{t 'expense_transactions.amount'}" %><br>
      <%= f.text_field :amount %><br>
      <%= f.label "#{t 'expense_transactions.income_transactions'}" %><br>
      <%= f.collection_select :income_transaction_id, @income_transactions, :id, :description, include_blank: true %><br>
      <%= f.label "#{t 'expense_transactions.type'}" %><br>
      <%= f.select :expense_type, options_for_select([['investment' ,'investment'], ['saving', 'saving'], ['expense', 'expense']]) %>



    </div>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
