= form_for(@expense_category) do |c|
  .field
    = c.text_field :name
    - category_id ||= nil
    = c.hidden_field :parent_id, :value => category_id
  .actions
    = c.submit  "#{t 'income_categories.new.save'}"