<%= form_for(@expense_category) do |c| %>
  <% if @expense_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense_category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @expense_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= c.text_field :name %>
    <%= c.select :parent_id, nested_set_options(ExpenseCategory.where(user_id: current_user.id), @expense_category) {|i| "#{'-' * i.level} #{i.name}" }, include_blank: true %>

  </div>
  <div class="actions">
    <%= c.submit %>
  </div>
<% end %>
