= form_for(@expense_category, remote: true) do |c|
  .field
    = c.text_field :name
    - category_id ||= nil
    = c.hidden_field :parent_id, :value => category_id
  .actions
    %div{:id => "add_category_message_#{category_id}"}
    = c.submit  "#{t 'income_categories.new.save'}"