<tr>
            <th class='col-md-10'><%= t 'expense_categories.category' %></th>
            <th class='col-md-2'><%= t 'expense_categories.action' %></th>
          </tr>
        </thead>
 
 
    <% @expense_parent_categories.each do |category| %>
          
            <tr>
              <td id = "sub_category_link_<%=category.id %>""><b>
                  <%= link_to "#{category.name}",show_sub_category_expense_categories_path(category.id, category_name: category.name), remote: true %></b>
              </td>
              <td>
                <%= link_to '', edit_expense_category_path(category), class: "glyphicon glyphicon-list-alt", title: "#{t 'expense_categories.edit_category' }", name: "#{t 'expense_categories.edit_category' }" %>
                <%= link_to '', expense_category_path(category.id),title: "#{t 'expense_categories.delete_category' }", method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove" %>
                </p>
                </td>
            </tr>
            <tr>
              <td colspan = 2>
              <div id = "<%=category.id %>" > </div>
              </td>
            </tr>
        <% end %>