%div{:id => "#{category.id}", 'aria-labelledby' => "headingOne", :class => 'panel-collapse collapse', :role => "tabpanel"}
  .panel-body
    %table.table.table-bordered.table-hover.table-condensed.table-striped.table-responsive
      - category.descendants.each do |descendant|
        %tr
          %td
            %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "##{descendant.id}", 'title' => "#{t 'expense_categories.enter_Ğµxepense' }", 'name' => "#{t 'expense_categories.edit_category' }" }
              = best_in_place descendant, :name, :activator => "#edit_#{descendant.id}", :inner_class => "css_class", :href => "##{descendant.id}"
             
            
            %td{:id => "#{descendant.id}", 'aria-labelledby' => "headingOne", :class => 'panel-collapse collapse', :role => "tabpanel"}

              = render partial: 'expense_transactions/form', locals: { expense_category_id: descendant.id }              
          %td
            %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "##{descendant.id}", 'title' => "#{t 'expense_categories.enter_Ğµxepense' }", 'name' => "#{t 'expense_categories.edit_category' }", class: 'glyphicon glyphicon-plus' }
            %a{:href => "#", :id => "edit_#{descendant.id}", class: 'glyphicon glyphicon-pencil', title: "#{t 'expense_categories.edit_category' }"}
            = link_to '', expense_category_path(descendant.id), method: :delete, data: { confirm: 'Are you sure?' }, title: "#{t 'expense_categories.delete_category' }", class: "glyphicon glyphicon-remove"
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "##{descendant.id}" }
/ /.container
  

