
  <div class="panel panel-default">
    <div class="panel-heading">Income transactions</div>
    <div class="panel-body">
<table class="table table-bordered table-hover table-condensed table-striped table-responsive">        <thead>
          <tr>
            <th>Category</th>
            <th>Action</th>
          </tr>
        </thead>

<button>Toggle</button>
<p>Hello</p>
<p style="display: none">Good Bye</p>
 
 
    <% @expense_categories.each do |category| %>
          
            <tr>
              <td><%= "#{'-' * category.level} #{category.name}" %> 
                
              </td>
              <td><div id="<%=category.name%>_transactions" style="display:none;" >
                  <%= render :partial => 'expense_transactions/form', :locals => {:expense_category_id => category.id} %>
                </div>
                <p>
                  <a id = add_<%=category.name%>_transactions) href="#" onclick="document.getElementById('<%=category.name%>_transactions').style.display = ''">Add a transaction</a>

                  <a id = remove_<%=category.name%>_transactions) href="#" onclick="document.getElementById('<%=category.name%>_transactions').style.display = 'none'">Remove a transaction</a>
                <%= link_to 'Edit', edit_expense_category_path(category) %>
                <%= link_to 'Delete', expense_category_path(category.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                </p></td>

            </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New category', new_expense_category_path %>


      <tbody>

    </div>
  </div>