<div class="col-md-6">         <p> 
        <%= @validate_data_income_category %>
        <%= image_tag (@graphics_balance_category) %>
        <table class='table table-bordered table-hover table-condensed table-striped table-responsive'>
          <b><%=t 'statistics.balance' %>:</b>
          <% @graphics_balance_category_hash.each do |key, amount| %>
          <tr>
                  <% params = {q: { tabs: key }} %>
                  <% params.merge(params[:q])%>
                <td><%= link_to("#{t %q(statistics.) + key.to_s }", all_transactions_path(params))  %></td>
            </td>
            <td>
             <%= amount %>
            </td>
          </tr>
          <% end %>
        </table>
    </p>
      </div>
    </div>
<div>