<div class="row">
        <div class="col-md-6">
         <p> <%= @validate_data_income_category %>
        <%= image_tag (@graphics_expense_type) %>
        <table class='table table-bordered table-hover table-condensed table-striped table-responsive'>
          <b><%=t 'statistics.expense_by_type' %>:</b>
          <% @graphics_expense_type_hash.each do |type, amount| %>
          <tr>
            <tr>
                  <% params[:tabs] = 'expense' %>
                  <% params[:expense_type] = type %>
                <td><%= link_to("#{t %q(statistics.) + type.to_s }", all_transactions_path(params))  %></td>
                <td><%= amount %></td>
              </tr>
          </tr>
          <% end %>
        </table>
    </p>
      </div>