<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t 'statistics.statistics' %></h3>
  </div>
  <div class="panel-body">

      <div class="row">
        <div class="col-md-6">

          <%= @validate_data_income_category %>
          <%= image_tag (@graphics_income_category) %><br>
          <b><%=t 'statistics.income' %>:</b>
          <table class='table table-bordered table-hover table-condensed table-striped table-responsive'>
            <% @income_categories_hash.each do |income| %>
              <tr>
                  <% params = {q: { tabs: 'income', income_category_id: income[:id] }} %>
                  <% params = params[:q].merge(params) if params.present? &&  params[:q].present? %>
                <td><%= link_to("#{income[:income_category]}", all_transactions_path(params))  %></td>
                <td><%= income[:amount] %></td>
              </tr>
          <% end %>
          </table>
        </div>
  <div class="col-md-6"> 