
      <div style="text-align:center" class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title text-center">Filter transactions</h1>
        </div>
        <!-- end panel-heading -->
        <div class="panel-body">
          <%= search_form_for [@q_income_transactions], url: all_transactions_path, method: :get do |f| %>
            <%= f.label :date_from %>
            <%= f.text_field :date_gteq %> 
            <%= f.label :date_to %>
            <%= f.text_field :date_lteq %>  

            <%= f.submit %>
          <% end %>
        </div>
      </div>
 
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Statisctic</h3>
  </div>
  <div class="panel-body">

      <div class="row">
        <div class="col-md-6">
         <div class='income_category_graphics'> 
        <%= @validate_data_income_category %>
        <%= image_tag (@graphics_income_category) %>
    </div>
      </div>
<div class="col-md-6"> <p> 
      <%= @validate_data_expense_category %>
      <%= image_tag (@graphics_expense_category) %>
    </p>
      </div>
    </div>
<div class="row">
        <div class="col-md-6">
         <p> <%= @validate_data_income_category %>
        <%= image_tag (@graphics_investment_saving_expense_category) %>
    </p>
      </div>
<div class="col-md-6">         <p> 
        <%= @validate_data_income_category %>
        <%= image_tag (@graphics_balanse_category) %> 
    </p>
      </div>
    </div>
<div class="row">
        <div class="col-md-6">
         <p> 
          <%= @validate_data_income_category %>
          <%= image_tag (@graphics_expense_by_day_category) %> 
    </p>
      </div>
</div>
  </div>
</div>