
      <div style="text-align:center" class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title text-center">Filter transactions</h1>
        </div>
        <!-- end panel-heading -->
          <%= render partial: 'shared/search', locals: { path: statistics_path } %>

        </div>
      
 
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Statisctic</h3>
  </div>
  <div class="panel-body">

      <div class="row">
        <div class="col-md-6">

          <%= @validate_data_income_category %>
          <%= image_tag (@graphics_income_category) %>

        </div>
  <div class="col-md-6"> 
   
    <%= image_tag (@graphics_expense_category) %><br>
    <b>Разходи: </b><br>
      <%= @validate_data_expense_category %>
      <table class='table table-bordered table-hover table-condensed table-striped table-responsive'>
      <%  @arr.each do |arr| %>
      <tr><td>
      <% if params.present? && params[:q].present? %>
          <% params[:q]['expense_category_id_in'] = arr[:id] %>
          <% params[:q]['tabs'] = 'expense' %>
          <b><%= link_to("#{arr[:name]} - #{arr[:amount]}", all_transactions_path(params))  %></b><br>
      <% else %>
        <% params = {q: { tabs: 'expense', expense_category_id_in: arr[:id] }} %>
          <b><%= link_to("#{arr[:name]} - #{arr[:amount]}", all_transactions_path(params))  %></b><br>
         </td></tr>
      <% end %>
    <% end %>
    </table>
    </div>
  </div>
<div class="row">
        <div class="col-md-6">
         <p> <%= @validate_data_income_category %>
        <%= image_tag (@graphics_investment_saving_expense_category) %>
    </p>
      </div>
<div class="col-md-6">         <p> 
        <%= @validate_data_income_category %>
        <%= image_tag (@graphics_balance_category) %> 
    </p>
      </div>
    </div>
<div>
        <div>
         <p> 
          <%= @validate_data_income_category %>
          <%= image_tag (@graphics_expense_by_day_category) %> 
    </p>
      </div>
</div>
  </div>
</div>
</div>