
      <div style="text-align:center" class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title text-center">Filter transactions</h1>
        </div>
        <!-- end panel-heading -->
          <%= render partial: 'shared/search', locals: { path: statistics_path } %>

        </div>
      
 
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Statisctic</h3>
  </div>
  <div class="panel-body">

      <div class="row">
        <div class="col-md-6">

          <%= @validate_data_income_category %>
          <%= image_tag (@graphics_income_category) %><br>
          <b>Income:</b>
          <table class='table table-bordered table-hover table-condensed table-striped table-responsive'>
            <% @income_categories_hash.each do |income| %>
              <tr>
                  <% params = {q: { tabs: 'income', income_category_id_eq: income[:id] }} %>
                  <% params = params[:q].merge(params) if params.present? &&  params[:q].present? %>
                <td><%= link_to("#{income[:income_category]}", all_transactions_path(params))  %></td>
                <td><%= income[:amount] %></td>
              </tr>
          <% end %>
          </table>
        </div>
  <div class="col-md-6"> 
   
    <%= image_tag (@graphics_expense_category) %>
    <b>Expense:</b>
      <%= @validate_data_expense_category %>
      <table class='table table-bordered table-hover table-condensed table-striped table-responsive'>
      <%  @expense_categories_hash.each do |expense_category| %>
      <tr>
      
        <% params_new =  params.merge({ tabs: 'expense', expense_category_id_in: expense_category[:id] }) %>
          <b><td><%= link_to("#{expense_category[:name]}", all_transactions_path(params_new))  %></b></td>
            <td><%= "#{expense_category[:amount]}" %></td></b>
         </tr>
    
    <% end %>
    </table>
    </div>
  </div>
<div class="row">
        <div class="col-md-6">
         <p> <%= @validate_data_income_category %>
        <%= image_tag (@graphics_expense_type) %>
        <table class='table table-bordered table-hover table-condensed table-striped table-responsive'>
          <% @graphics_expense_type_hash.each do |type, amount| %>
          <tr>
            <tr>
                  <% params = {q: { tabs: 'expense', expense_type_eq: type }} %>
                  <% params.merge(params[:q])%>
                <td><%= link_to("#{type}", all_transactions_path(params))  %></td>
                <td><%= amount %></td>
              </tr>
          </tr>
          <% end %>
        </table>
    </p>
      </div>
<div class="col-md-6">         <p> 
        <%= @validate_data_income_category %>
        <%= image_tag (@graphics_balance_category) %>
        <table class='table table-bordered table-hover table-condensed table-striped table-responsive'>
          <% @graphics_balance_category_hash.each do |key, amount| %>
          <tr>
                  <% params = {q: { tabs: key }} %>
                  <% params.merge(params[:q])%>
                <td><%= link_to("#{key}", all_transactions_path(params))  %></td>
            </td>
            <td>
             <%= amount %>
            </td>
          </tr>
          <% end %>
        </table>
    </p>
      </div>
    </div>
<div>
        <div>
         <p> 
          <%= @validate_data_income_category %>
          <%= image_tag (@expense_by_date) %> 
          <table class='table table-bordered table-hover table-condensed table-striped table-responsive'>
          <% @expense_by_date_hash.each do |hash| %>
          <tr>
                  <% params = {q: { date_gteq: hash[:date], date_lteq: hash[:date], tabs: 'expense'}} %>
                  <% params.merge(params[:q])%>
                <td><%= link_to("#{hash[:date]}", all_transactions_path(params))  %></td>
            </td>
            <td>
             <%= hash[:amount] %>
            </td>
          </tr>
          <% end %>
        </table>
    </p>
      </div>
</div>
  </div>
</div>
</div>