
      <div style="text-align:center" class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title text-center"><%= t 'statistics.filter_transactions' %></h1>
        </div>
        <!-- end panel-heading -->
          <%= render partial: 'shared/search', locals: { path: statistics_path } %>

        </div>
      
 <%= render partial: 'income' %>
 <%= render partial: 'expense' %>
 <%= render partial: 'expense_by_type' %>
 <%= render partial: 'balance' %>
 <%= render partial: 'expense_by_month' %>
