
      <div style="text-align:center" class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title text-center">Filter transactions</h1>
        </div>
        <!-- end panel-heading -->
        <div class="panel-body">
          <%= search_form_for [@q_income_transactions], url: all_transactions_path, method: :get do |f| %>
            <%= f.label :date_from %>
            <%= f.text_field :date_gteq %> 
            <%= f.label :date_to %>
            <%= f.text_field :date_lteq %>  

            <%= f.submit %>
          <% end %>
        </div>
      </div>
 
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Statisctic</h3>
  </div>
  <div class="panel-body">

      <div class="row">
        <div class="col-md-6">
         <div class='income_category_graphics'> <%= @validate_data_income_category %><%= image_tag@graphics_income_category %>
    </div>
      </div>
<div class="col-md-6"> <p> 
  <%= image_tag(@graphics_expense_category) %>

    </p>
      </div>
    </div>
<div class="row">
        <div class="col-md-6">
         <p> <%= image_tag(@graphics) %> 
    </p>
      </div>
<div class="col-md-6">         <p> <%= image_tag(Gchart.pie_3d(
          :title => 'Investment/saving/expense', 
          :size => '400x200',
          :data => [10,90], 
          :legend => ['test','tetst', 't'],
          :bg => {:color => 'ffffff', :type => 'gradient'}, 
          :bar_colors => 'ff0000,00ff00' )) %>
    </p>
      </div>
    </div>
<div class="row">
        <div class="col-md-6">
         <p> <%= image_tag(Gchart.bar(  :size => '400x200', 
              :title => "Expense by day",
              :bg => 'efefef',
              :legend => ['first data set label', 'second data set label'],
              :bg => {:color => 'ffffff', :type => 'gradient'}, 
              :bar_colors => 'ff0000,00ff00' ,
              :data => [10, 1, 2, 1, 1, 2, 10, 1, 2, 4, 1, 12, 11, 1, 2, 6])) %>
    </p>
      </div>
</div>
  </div>
</div>