
      <div style="text-align:center" class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title text-center">Filter transactions</h1>
        </div>
        <!-- end panel-heading -->
          <%= render partial: 'shared/search', locals: { path: statistics_path } %>

        </div>
      
 
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Statisctic</h3>
  </div>
  <div class="panel-body">

      <div class="row">
        <div class="col-md-6">

          <%= @validate_data_income_category %>
          <%= image_tag (@graphics_income_category) %><br>
          <b>Income:</b>
          <table class='table table-bordered table-hover table-condensed table-striped table-responsive'>
            <% @income_categories_hash.each do |income| %>
              <tr>
                <td><%= income[:income_category]%></td>
                <td><%= income[:amount] %></td>
              </tr>
            <% end %>
          </table>

        </div>
  <div class="col-md-6"> 
   
    <%= image_tag (@graphics_expense_category) %>
    <b>Expense:</b>
      <%= @validate_data_expense_category %>
      <table class='table table-bordered table-hover table-condensed table-striped table-responsive'>
      <%  @expense_categories_hash.each do |expense_category| %>
      <tr>
      <% if params.present? && params[:q].present? %>
          <% params[:q]['expense_category_id_in'] = expense_category[:id] %>
          <% params[:q]['tabs'] = 'expense' %>
            <td><b><%= link_to("#{expense_category[:name]}", all_transactions_path(params))  %></b></td>
            <td><%= "#{expense_category[:amount]}" %></td>
      <% else %>
        <% params = {q: { tabs: 'expense', expense_category_id_in: expense_category[:id] }} %>
          <b><td><%= link_to("#{expense_category[:name]}", all_transactions_path(params))  %></b></td>
            <td><%= "#{expense_category[:amount]}" %></td></b>
         </tr>
      <% end %>
    <% end %>
    </table>
    </div>
  </div>
<div class="row">
        <div class="col-md-6">
         <p> <%= @validate_data_income_category %>
        <%= image_tag (@graphics_expense_type) %>
        <table class='table table-bordered table-hover table-condensed table-striped table-responsive'>
          <% @graphics_expense_type_hash.each do |type, amount| %>
          <tr>
            <td>
              <%= type %>
            </td>
            <td>
             <%= amount %>
            </td>
          </tr>
          <% end %>
        </table>
    </p>
      </div>
<div class="col-md-6">         <p> 
        <%= @validate_data_income_category %>
        <%= image_tag (@graphics_balance_category) %>
        <table class='table table-bordered table-hover table-condensed table-striped table-responsive'>
          <% @graphics_balance_category_hash.each do |key, amount| %>
          <tr>
            <td>
              <%= key %>
            </td>
            <td>
             <%= amount %>
            </td>
          </tr>
          <% end %>
        </table>
    </p>
      </div>
    </div>
<div>
        <div>
         <p> 
          <%= @validate_data_income_category %>
          <%= image_tag (@expense_by_date) %> 
    </p>
      </div>
</div>
  </div>
</div>
</div>