
      <div style="text-align:center" class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title text-center">Filter transactions</h1>
        </div>
        <!-- end panel-heading -->
          <%= render partial: 'shared/search', locals: { path: statistics_path } %>

        </div>
      
 
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Statisctic</h3>
  </div>
  <div class="panel-body">

      <div class="row">
        <div class="col-md-6">
         <div class='income_category_graphics'> 
          <%= @validate_data_income_category %>
          <%= image_tag (@graphics_income_category) %>
          </div>
        </div>
  <div class="col-md-6"> 
    <div> <b>Разходи: </b><br>
      <%= @validate_data_expense_category %>
      <%  @arr.each do |arr| %>
      <% params = {q: {expense_category_id_in: nil } } if params.blank? %>
      <% params[:q]['expense_category_id_in'] = ExpenseCategory.find(arr.first).id %>
      <% params[:q]['tabs'] = 'expense' %>
      <b><%= link_to("#{ExpenseCategory.find(arr.first).name} - #{arr.second}", all_transactions_path(params))  %></b><br>
      <% end %>
        
   

      <%= image_tag (@graphics_expense_category) %>
    </div>
  </div>
<div class="row">
        <div class="col-md-6">
         <p> <%= @validate_data_income_category %>
        <%= image_tag (@graphics_investment_saving_expense_category) %>
    </p>
      </div>
<div class="col-md-6">         <p> 
        <%= @validate_data_income_category %>
        <%= image_tag (@graphics_balance_category) %> 
    </p>
      </div>
    </div>
<div>
        <div>
         <p> 
          <%= @validate_data_income_category %>
          <%= image_tag (@graphics_expense_by_day_category) %> 
    </p>
      </div>
</div>
  </div>
</div>
</div>