 <div class="panel-body">
          <%= search_form_for [@q_income_transactions], url: path, method: :get do |f| %>
           
              <div class="col-md-4">
                <%= f.label "#{ t 'search_panel.income_transactions' }" %><br>
                <%= select_tag('[q][income_id]', options_for_select(@income_transactions_all.map{ |t| [t.description, t.id] }.insert(0, ""), selected: @income_params_id)) %><br>
                <%= f.label "#{ t 'search_panel.expense_transactions' }" %><br>
                <%= select_tag('[q][expense_category_id_in]', options_for_select(@expense_categories.map {|t| ["#{'-' * t.ancestry_depth} #{t.name}", t.id]}.insert(0, ""), selected: @expense_category_id)) %><br>
              </div>
              <div class="col-md-4">
                <%= f.label "#{ t 'search_panel.date_from' }" %><br>
                <%= f.text_field :date_gteq %> <br>
                <%= f.label "#{ t 'search_panel.date_to' }" %><br>
                <%= f.text_field :date_lteq %>  <br> 
              </div>
              <div class="col-md-4">
                <%= f.label "#{ t 'search_panel.keys' }" %><br>
                <%= f.text_field :description_cont %> <br>
                <%= f.hidden_field :tabs, value: 'expense' %><br>
                <%= f.submit id: 'expense_transactions', value: "#{ t 'search_panel.search' }" %>
              </div>
          <% end %>
        </div>