#expense{:class => "tab-pane #{@active_expense}"}
  %table.table.table-bordered.table-hover.table-condensed.table-striped.table-responsive
    %thead
      %tr
        %th= t 'all_transactions.category'
        %th{:nowrap => ""}= t 'all_transactions.sub_category'
        %th= t 'all_transactions.description'
        %th= t 'all_transactions.amount'
        %th= t 'all_transactions.date'
        %th= t 'all_transactions.action'
    %tbody
      - @expense_transactions.each do |transaction|
        %tr
          %td= transaction.expense_category.parent.name
          %td= transaction.expense_category.name
          %td{:width => "25%"}= best_in_place transaction, :description, :as => :input
          %td{:width => "25%"}= best_in_place transaction, :amount, :as => :input
          %td{:width => "25%"}= best_in_place transaction, :date, :as => :input
          %td{:width => "5%"}= link_to "#{ t 'all_transactions.destroy' }", expense_transaction_path(id: transaction.id, params:params), method: :delete, data: { confirm: "#{ t 'all_transactions.are_you_sure' }" }
      %tr
        %td{:colspan => "3"}
          %b= t 'all_transactions.sum'
        %td{:colspan => "3"}
          %b= @expense_transactions_amount