
  

  <div class="row equal">
    <!--begin panel 1 -->
    <div class="col-md-4">
      <div style="text-align:center" class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title text-center">Filter all transactions</h1>
        </div>
        <!-- end panel-heading -->
        <div class="panel-body">
          <%= search_form_for [@q_income_transactions], url: all_transactions_path, method: :get do |f| %>
            <%= f.label :description_cont %><br>
            <%= f.text_field :description_cont %> <br>
            <%= f.label :date_from %><br>
            <%= f.text_field :date_gteq %> <br>
            <%= f.label :date_to %><br>
            <%= f.text_field :date_lteq %>  <br> 

            <%= f.submit %>
          <% end %>
        </div>
        <!-- end panel-body -->
      </div>
      <!-- end panel-primary -->
    </div>
    <!--end col-md-4 -->
    <!-- begin panel 2 -->
    <div class="col-md-4">
      <div style="text-align:center" class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Filter income Transactions</h1>
        </div>
        <!-- end panel-heading -->
        <div class="panel-body">
          <%= search_form_for [@q_income_transactions], url: all_transactions_path, method: :get do |f| %>
              <%= f.label 'income category' %><br>
              <%= f.collection_select :income_category_id_eq, @income_categories, :id, :name, include_blank: true %>  
              <%= f.submit %>
          <% end %>
        </div>
        <!-- end panel-body -->
      </div>
      <!-- end panel-primary -->
    </div>
    <!-- end col-md-4 -->
    <!--begin panel 3 -->
    <div class="col-md-4">
      <div style="text-align:center" class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Filter expense transactions</h1>
        </div>
        <!-- end panel-heading -->
        <div class="panel-body">
          <%= search_form_for [@q_expense_transactions], url: "#{all_transactions_path}#expense", method: :get do |f| %>
              <%= f.label 'Expense category' %>
              <%= f.collection_select :expense_category_id_eq, @expense_categories, :id, :name, include_blank: true %><br>
              <%= f.label 'Income relation' %>
              <%= f.collection_select :income_relation_eq, @income_transactions, :id, :description, include_blank: true %>  
              <%= f.submit %>
          <% end %>
        </div>
        <!-- end panel-body -->
      </div>
      <!-- end  panel-primary -->
    </div>
    <!-- end col-md-4 -->
  </div>
  <!-- end row -->




<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">All transactions</h3>
  </div>
  <div class="panel-body">
    
<ul class="nav nav-tabs">
  <li class="active"><a href="#income" data-toggle="tab">Income transactions</a></li>
  <li><a href="#expense" data-toggle="tab">Expense trasnasctions</a></li>
  <li><a href="#balance" data-toggle="tab">Balance</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" class="tab-pane" id="income">
    <table class="table table-bordered table-hover table-condensed table-striped table-responsive">
      <thead>
        <tr>
          <th>Category</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% sum_amount = 0 %>
        <% @income_transactions.each do |transaction| %>
          <tr>
            <td ><%= transaction.income_category.name %></td>
            <td width = 25%><%= best_in_place transaction, :description, :type => :input %></td>
            <td width = 25%><%= best_in_place transaction, :amount, :type => :input %></td>
            <% sum_amount += transaction.amount %>
            <td width = 25%><%= best_in_place transaction, :date, :type => :input %></td>
            <td width = 5%><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>

          </tr>
        <% end %>
          <tr>
            <td colspan = 3 ><b>sum</b></td>
            <td colspan = 3 ><b><%= sum_amount %></b></td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="expense">
    <table class="table table-bordered table-hover table-condensed table-striped table-responsive">
      <thead>
        <tr>
          <th>Category</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @expense_transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.expense_category.name %></td>
            <td width = 25%><%= best_in_place transaction, :description, :type => :input %></td>
            <td width = 25%><%= best_in_place transaction, :amount, :type => :input %></td>
            <td width = 25%><%= best_in_place transaction, :date, :type => :input %></td>
            <td width = 5%><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
          <tr>
            <td colspan =2 ><b>sum</b></td>
            <td colspan =2 ><b><%= @expense_transactions_amount %></b></td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" class="tab-pane" id="balance">
    <table class="table table-bordered table-hover table-condensed table-striped table-responsive">
      <thead>
        <tr>
          <th>Current balance: <%=@current_balance %> лв.</th>
        </tr>
      </thead>
      
    </table>
  </div>
</div>
  </div>
</div>