
  <div class="row equal">
    <!--begin panel 1 -->
    <!--end col-md-4 -->
    <!-- begin panel 2 -->
    <div class="col-md-12">
      <div style="text-align:center" class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title"><%= t 'all_transactions.filter_transactions' %></h1>
        </div>
        <!-- end panel-heading -->
        <%= render partial: 'shared/search', locals: { path: all_transactions_path } %>

        <!-- end panel-body -->
      </div>
      <!-- end panel-primary -->
    </div>
    
  </div>
  <!-- end row -->




<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t 'all_transactions.all_transactions' %></h3>
  </div>
  <div class="panel-body">
    
<ul class="nav nav-tabs">
  <li class="<%=@active_income %>"><a href="#income" data-toggle="tab"><%= t 'all_transactions.income_transactions' %></a></li>
  <li class="<%=@active_expense %>"><a href="#expense" data-toggle="tab"><%= t 'all_transactions.expense_transactions' %></a></li>
  <li class="<%=@active_balance %>"><a href="#balance" data-toggle="tab"><%= t 'all_transactions.balance' %></a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane <%=@active_income %>" class="tab-pane" id="income">
    <table class="table table-bordered table-hover table-condensed table-striped table-responsive">
      <thead>
        <tr>
          <th><%= t 'all_transactions.category' %></th>
          <th><%= t 'all_transactions.description' %></th>
          <th><%= t 'all_transactions.amount' %></th>
          <th><%= t 'all_transactions.date' %></th>
          <th><%= t 'all_transactions.action' %></th>
        </tr>
      </thead>
      <tbody>
        <% @income_transactions.each do |transaction| %>
          <tr>
            <td ><%= transaction.income_category.name %></td>
            <td width = 25%><%= best_in_place transaction, :description, :type => :input %></td>
            <td width = 25%><%= best_in_place transaction, :amount, :type => :input %></td>
            <td width = 25%><%= best_in_place transaction, :date, :type => :input %></td>
            <td width = 5%><%= link_to "#{ t 'all_transactions.destroy' }", transaction, method: :delete, data: { confirm: "#{ t 'all_transactions.are_you_sure' }" } %></td>
          </tr>
        <% end %>
          <tr>
            <td colspan = 3 ><b><%= t 'all_transactions.sum' %></b></td>
            <td colspan =2 ><b><%= @income_transactions_amount %></b></td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane <%=@active_expense %>" id="expense">
    <table class="table table-bordered table-hover table-condensed table-striped table-responsive">
      <thead>
        <tr>
          <th>Category</th>
          <th>Parent category</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @expense_transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.expense_category.name %></td>
            <td><%= transaction.expense_category.parent.name %></td>
            <td width = 25%><%= best_in_place transaction, :description, :type => :input %></td>
            <td width = 25%><%= best_in_place transaction, :amount, :type => :input %></td>
            <td width = 25%><%= best_in_place transaction, :date, :type => :input %></td>
            <td width = 5%><%= link_to "#{ t 'all_transactions.destroy' }", transaction, method: :delete, data: { confirm: "#{ t 'all_transactions.are_you_sure' }" } %></td>
          </tr>
          <% end %>
          <tr>
            <td colspan = 3 ><b><%= t 'all_transactions.sum' %></b></td>
            <td colspan =3 ><b><%= @expense_transactions_amount %></b></td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane <%=@active_balance %>" id="balance">
    <table class="table table-bordered table-hover table-condensed table-striped table-responsive">
      <thead>
        <tr>
          <th><%= t 'all_transactions.current_balance' %>: <%=@current_balance %> лв.</th>
        </tr>
      </thead>
      
    </table>
  </div>
</div>
  </div>
</div>