<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Filter transactions</h3>
  </div>
  <div class="panel-body">


<%= search_form_for [@q_income_transactions], url: all_transactions_path, method: :get do |f| %>
  <%= f.label :description_cont %>
  <%= f.text_field :description_cont %>
  <%= f.label 'income category' %>
  <%= f.collection_select :income_category_id_eq, @income_categories, :id, :name, include_blank: true %><br>


  
  <%= f.submit %>
<% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">All transactions</h3>
  </div>
  <div class="panel-body">
    
<ul class="nav nav-tabs">
  <li class="active"><a href="#income" data-toggle="tab">Income transactions</a></li>
  <li><a href="#expense" data-toggle="tab">Expense trasnasctions</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" class="tab-pane" id="income">
    <table class="table table-bordered table-hover table-condensed table-striped table-responsive">
      <thead>
        <tr>
          <th>Category</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @income_transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.income_category.name %></td>
            <td><%= transaction.description %></td>
            <td><%= transaction.amount %></td>
            <td><%= transaction.date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="expense">
    <table class="table table-bordered table-hover table-condensed table-striped table-responsive">
      <thead>
        <tr>
          <th>Category</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @expense_transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.expense_category.name %></td>
            <td><%= transaction.description %></td>
            <td><%= transaction.amount %></td>
            <td><%= transaction.date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
  </div>
</div>