
  <div class="row equal">
    <!--begin panel 1 -->
    <!--end col-md-4 -->
    <!-- begin panel 2 -->
    <div class="col-md-12">
      <div style="text-align:center" class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Filter Transactions</h1>
        </div>
        <!-- end panel-heading -->
        <div class="panel-body">
          <%= search_form_for [@q_income_transactions], url: all_transactions_path, method: :get do |f| %>
           
              <div class="col-md-4">
                <%= f.label 'income transaction' %><br>
                <%= select_tag('[q][income_id]', options_for_select(@income_transactions_all.map{ |t| [t.description, t.id] }.insert(0, ""), selected: @income_params_id)) %><br>
                <%= f.label 'expense transaction' %><br>
                <%= select_tag('[q][expense_category_id_eq]', options_for_select(@expense_categories.map {|t| [t.name, t.id]}.insert(0, ""), selected: @expense_category_id)) %><br>
              </div>
              <div class="col-md-4">
                <%= f.label :date_from %><br>
                <%= f.text_field :date_gteq, value: @start_date %> <br>
                <%= f.label :date_to %><br>
                <%= f.text_field :date_lteq, value: @end_date %>  <br> 
              </div>
              <div class="col-md-4">
                <%= f.label :description_cont %><br>
                <%= f.text_field :description_cont %> <br>
                <%= f.hidden_field :tabs, value: 'expense' %><br>
                <%= f.submit id: 'expense_transactions' %>
              </div>
          <% end %>
        </div>
        <!-- end panel-body -->
      </div>
      <!-- end panel-primary -->
    </div>
    
  </div>
  <!-- end row -->




<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">All transactions</h3>
  </div>
  <div class="panel-body">
    
<ul class="nav nav-tabs">
  <li class="<%=@active_income %>"><a href="#income" data-toggle="tab">Income transactions</a></li>
  <li class="<%=@active_expense %>"><a href="#expense" data-toggle="tab">Expense trasnasctions</a></li>
  <li><a href="#balance" data-toggle="tab">Balance</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane <%=@active_income %>" class="tab-pane" id="income">
    <table class="table table-bordered table-hover table-condensed table-striped table-responsive">
      <thead>
        <tr>
          <th>Category</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% sum_amount = 0 %>
        <% @income_transactions.each do |transaction| %>
          <tr>
            <td ><%= transaction.income_category.name %></td>
            <td width = 25%><%= best_in_place transaction, :description, :type => :input %></td>
            <td width = 25%><%= best_in_place transaction, :amount, :type => :input %></td>
            <% sum_amount += transaction.amount %>
            <td width = 25%><%= best_in_place transaction, :date, :type => :input %></td>
            <td width = 5%><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>

          </tr>
        <% end %>
          <tr>
            <td colspan = 3 ><b>sum</b></td>
            <td colspan = 3 ><b><%= sum_amount %></b></td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane <%=@active_expense %>" id="expense">
    <table class="table table-bordered table-hover table-condensed table-striped table-responsive">
      <thead>
        <tr>
          <th>Category</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @expense_transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.expense_category.name %></td>
            <td width = 25%><%= best_in_place transaction, :description, :type => :input %></td>
            <td width = 25%><%= best_in_place transaction, :amount, :type => :input %></td>
            <td width = 25%><%= best_in_place transaction, :date, :type => :input %></td>
            <td width = 5%><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
          <tr>
            <td colspan =2 ><b>sum</b></td>
            <td colspan =2 ><b><%= @expense_transactions_amount %></b></td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" class="tab-pane" id="balance">
    <table class="table table-bordered table-hover table-condensed table-striped table-responsive">
      <thead>
        <tr>
          <th>Current balance: <%=@current_balance %> лв.</th>
        </tr>
      </thead>
      
    </table>
  </div>
</div>
  </div>
</div>