%td.col-md-4
  %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#add_sub_#{category.id}", class: 'btn btn-info btn-sm', :id => "gif_colapse_#{category.id}", title: "#{t 'income_transactions.create_income'}"} #{t 'income_transactions.create_income'}

  %a{:href => "#", visited: '#fff',:id => "edit_#{category.id}", class: 'btn btn-warning btn-sm', title: "#{t 'expense_categories.edit_category' }"} #{t 'expense_categories.edit_category' }
  = link_to "#{t 'expense_categories.delete_category' }", income_category_path(category.id), title: "#{t 'expense_categories.delete_category' }", method: :delete, data: { confirm: "#{t 'expense_categories.delete_message' }" }, class: "btn btn-danger btn-sm"

