<%= form_for(@income_category) do |c| %>
  <% if @income_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@income_category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @income_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= c.text_field :name %>
    <%= c.select :parent_id, nested_set_options(IncomeCategory.where(user_id: current_user.id), @income_category) {|i| "#{'-' * i.level} #{i.name}" } %>
  </div>
  <div class="actions">
    <%= c.submit %>
  </div>
<% end %>
