
  
<div class="panel panel-default">
    <div class="panel-heading"><%= t 'income_categories.income_transactions' %></div>
    <div class="panel-body">
    <%= link_to '',  new_income_category_path, title: "#{t 'income_categories.new_category'}", class: 'glyphicon glyphicon-download-alt' %>
    <%= link_to "#{t 'income_categories.new_category'}",  new_income_category_path %><table class="table table-bordered table-hover table-condensed table-striped table-responsive">    <br><br>    <thead>
          <tr>
            <th><%= t 'income_categories.category' %></th>
            <th><%= t 'income_categories.action' %></th>
          </tr>
        </thead>
    <% @income_categories.each do |category| %>
          
            <tr>
              <td><%= category.name %>
                
              </td>
              <td><div id="<%=category.name%>_transactions" style="display:none;" >
                  <%= render :partial => 'income_transactions/form', :locals => {:income_category_id => category.id} %>
                </div>
                <p>
                  <a id = add_<%=category.name%>_transactions href="#" alt='ss' onclick="document.getElementById('<%=category.name%>_transactions').style.display = ''"><span class="glyphicon glyphicon-plus" title="<%= t 'income_categories.enter_income' %>"></span></a>

                  <a id = remove_<%=category.name%>_transactions href="#" onclick="document.getElementById('<%=category.name%>_transactions').style.display = 'none'"><span class="glyphicon glyphicon-minus" title="<%= t 'income_categories.hide_form' %>"></span></a>

                  <a title="<%= t 'income_categories.edit_category' %>" href="<%= edit_income_category_path(category) %>" ><span class="glyphicon glyphicon-list-alt" title="<%= t 'income_categories.edit_category' %>"></span></a>
          
                  <%= link_to '', income_category_path(category.id), title: "#{t 'income_categories.delete_category' }", method: :delete, data: { confirm: 'Are you sure?' } , class: "glyphicon glyphicon-remove" %>
                </p></td>
            </tr>
        <% end %>
      </tbody>
    </table>


    <%= link_to '',  new_income_category_path, title: "#{t 'income_categories.new_category'}", class: 'glyphicon glyphicon-download-alt' %>
    <%= link_to "#{t 'income_categories.new_category'}",  new_income_category_path %>


      <tbody>

    </div>
  </div>