.panel.panel-info
  .panel-heading
    = t 'income_categories.income_transactions' 
  .panel-body
    %table.table.table-bordered.table-hover.table-condensed.table-striped.table-responsive
      %thead
        %tr
          %th.col-md-10 
            = t 'expense_categories.category'
            = render partial: 'add_category'
          %th.col-md-2= t 'expense_categories.action'
      %tbody
        - @income_categories.each do |category|
          %tr
            %td
              = render partial: 'show_category', locals: { category: category  }
              = render partial: 'add_transactions', locals: { category: category }
              = render partial: 'action', locals: { category: category }
