<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @income_category.name %>
<%= form_for(@income_category) do |f| %>
  <p> ss
    Name: <%= f.text_field :name %>
  <% for task in @income_category.income_transactions %>
    <%= fields_for "category[transaction_attributes][]", transaction do |transaction_form| %>
      <p>
        Transaction: <%= transaction_form.text_field :name %>
      </p>
    <% end %>
  <% end %>
  <p><%= submit_tag "Create Project" %></p>
<% end %>
</p>
  </p>






