<%= form_for(@finance_lmay) do |f| %>
  <% if @finance_lmay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@finance_lmay.errors.count, "error") %> prohibited this finance_lmay from being saved:</h2>

      <ul>
      <% @finance_lmay.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :incomeexpense %><br>
    <%= f.select(:incomeexpense, options_for_select(['income', 'expense'])) %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.select(:category_id, options_from_collection_for_select(@categories, 'id', 'name')) %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
