<h1>Listing finance_lmays</h1>
<%=link_to 'All categories', categories_path %>
<table>
  <thead>
    <tr>
      <th>Income</th>
      <th>Category</th>
      <th>Description</th>
      <th>Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |finance_lmay| %>
      <tr>
        <td><%= finance_lmay.incomeexpense %></td>
        <td><%= finance_lmay.category.name %></td>
        <td><%= finance_lmay.description %></td>
        <td><%= finance_lmay.amount %></td>
        <td><%= link_to 'Show', finance_lmay %></td>
        <td><%= link_to 'Edit', edit_finance_lmay_path(finance_lmay) %></td>
        <td><%= link_to 'Destroy', finance_lmay, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th>Expense</th>
      <th>Category</th>
      <th>Description</th>
      <th>Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @expences.each do |finance_lmay| %>
      <tr>
        <td><%= finance_lmay.incomeexpense %></td>
        <td><%= finance_lmay.category %></td>
        <td><%= finance_lmay.description %></td>
        <td><%= finance_lmay.amount %></td>
        <td><%= link_to 'Show', finance_lmay %></td>
        <td><%= link_to 'Edit', edit_finance_lmay_path(finance_lmay) %></td>
        <td><%= link_to 'Destroy', finance_lmay, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Balance</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @balance %></td>
    </tr>
  </tbody>
</table>
<br>
<%= link_to 'New Finance lmay', new_finance_lmay_path %>
