<h1>Transactions</h1>
<h1>Incomes</h1>
<table>
  <thead>
    <tr>
      <th>Income</th>
      <th>Category</th>
      <th>Description</th>
      <th>Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |finance_lmay| %>
      <tr>
        <td><%= finance_lmay.incomeexpense %></td>
        <td><%= finance_lmay.category.name %></td>
        <td><%= finance_lmay.description %></td>
        <td><%= finance_lmay.amount %></td>
        <td><%= link_to 'Show', finance_lmay %></td>
        <td><%= link_to 'Edit', edit_finance_lmay_path(finance_lmay) %></td>
        <td><%= link_to 'Destroy', finance_lmay, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <td><h1>Expense</h1>
     <% @category_with_transactions.each do |key, transactions| %>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#<%=key.id%>">
                <%=key.name %>
                </a>
              </h4>
            </div>
      
            
            <div id="<%=key.id%>" class="panel-collapse collapse collapse">
              <div class="panel-body">
                 <% transactions.each do |transaction| %>
                    <%=transaction.description %> 
                      <%=transaction.amount %>
                      <%= link_to 'Show', transaction %>
  
                      <%= link_to 'Edit', edit_finance_lmay_path(transaction) %>
                      <%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %><br>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </td>
    </tr>
    
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th><h1>Balance</h1></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @balance %></td>
    </tr>
  </tbody>
</table>
<br>
<%= link_to 'New Finance lmay', new_finance_lmay_path %>
