<p id="notice"><%= notice %></p>

<p>
  <strong>Incomeexpense:</strong>
  <%= @finance_lmay.incomeexpense %>
</p>

<p>
  <strong>Category:</strong>
  <%= @finance_lmay.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @finance_lmay.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @finance_lmay.amount %>
</p>

<%= link_to 'Edit', edit_finance_lmay_path(@finance_lmay) %> |
<%= link_to 'Back', finance_lmays_path %>
